body {
	margin: 7px 7px 7px 7px;
	padding: 0;
	font-family: Arial, Verdana, Helvetica;
	font-size: 76%;
	background-color: #1d3f7c;
	color: #3F3F3F;
	text-align: center;
}
body, table, th, p, div {
  font-family: sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 9pt;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
}
#main {
	background-color: white;
	margin-right: auto;
  margin-left: auto;
  text-align: left;
}
#mainpadded {
  padding: 60px 5px 80px 5px;
}
#mainheader {
	float: right;
}

#mainheaderpadded {
  padding: 40px 40px 0px 40px;
  text-align: right;
}
td {
  vertical-align: top;
}

td.header {
  vertical-align: bottom;
}

td#menu {
   padding-right: 10px; 
   margin-right: 10px; 
}

table.method, table.methodwarning { 
  width: 100%;
 }

table.method0 { 
  width: 100%;
  background-color: #F6FCEB;
  border: 1px solid #7a90cd;
 }

table.method1 { 
  width: 100%;
  background-color: #F3F4FD;
  border: 1px solid #7a90cd;
 }

table.methodwarning0, table.methodwarning1 { 
  width: 100%;
  background-color: white;
  border: 1px solid #FF0000;
}

td.methodname {
  font-size: 10pt;
  font-weight: bold;
  color: #7a90cd;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
}
td.methodnamewarning {
  font-size: 10pt;
  font-weight: bold;
  color: #ffffff;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #FF0000;
}

a.methodhelp:link, a.methodhelp:visited {
  font-size: 8pt;
  color: #7a90cd;
}

a.methodhelp:hover {
  font-size: 8pt;
  color:white;
  background-color:#7a90cd;
  text-decoration: none;
}

table.property, table.propertywarning { 
  width: 100%;
 }
table.property0 { 
  width: 100%;
  background-color: #F6FCEB;
  border: 1px solid #7a90cd;
 }
table.property1 { 
  width: 100%;
  background-color: #F3F4FD;
  border: 1px solid #7a90cd;
 }

table.propertywarning0, table.propertywarning1 { 
  width: 100%;
  background-color: white;
  border: 1px solid #FF0000;
}

td.propertyname {
  font-size: 10pt;
  font-weight: bold;
  color: #7a90cd;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
}
td.constantname {
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
}
td.constantvalue {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
}
td.constantequal {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
}
td.propertynamewarning {
  font-size: 10pt;
  font-weight: bold;
  color: #ffffff;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #FF0000;
}

tr.info {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
tr.info0 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #F3F4FD
}
tr.info1 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #F6FCEB
}
td.label {
  width: 100px;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}
td.value {
  padding-left: 2px;
  padding-right: 2px;

}

table.object { 
  width: 100%;
  background-color: #7a90cd;
 }

td.objectname {
  font-size: 10pt;
  font-weight: bold;
  color: #7a90cd;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
}

div.warning {
  font-weight: bold;
  color: #FF0000;
}

div.objectname {
  font-size: 10pt;
  font-weight: bold;
  color: #ffffff;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #00659C;
}

a {
  color:#00659C;
  text-decoration: none;
}

a:link, a:visited {
  color:#00659C;
}

a.img:hover {
  text-decoration: none;
}

a:hover {
  background-color:#eee;
  text-decoration: none;
}

a.methodname:link, a.methodname:visited {
  font-size: 10pt;
  color:#7a90cd;
}

a.methodname:hover {
  font-size: 10pt;
  color:white;
  background-color:#7a90cd;
  text-decoration: none;
}


p, th, li {
  font: 9pt sans-serif;
}

h1, h2, h3, h4, strong {
  color: #7a90cd;
}
h1 { 
	color: #7a90cd;
	font-weight: normal;
	font-size: 1.8em;
 }
h2 { 
	color: #7a90cd;
	font-weight: normal;
	font-size: 1.2em;
 }

div.footer {
  color: #333;
  background-color: #fff;
  margin-top: 4px;
  border-top: 1px dotted black;
  text-align: right;
  font-weight: bold;
  font-size: 8pt;
}

/* Special 4rnd add by YGO */

#center-rnd-bar {
	position: absolute;
	width: 80%;
	height: 48px;
	margin: 0;
	padding: 0;
	left: 100px;
	right: 383px;
	background: url(/Services/Soap/Images/bar-center.gif) 0 0 repeat-x;
}
#left-rnd-bar {
	position: absolute;
	height: 48px;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 9px;
	background: url(/Services/Soap/Images/bar.gif) 0 0 no-repeat;
}
#rigth-rnd-bar {
	position: absolute;
	height: 48px;
	width: 383px;
	margin: 0;
	padding: 0;
	right: 9px;
	background: url(/Services/Soap/Images/logo.gif) 0 0 no-repeat;
}



.b-box-top-left,
.b-box-top-middle,
.b-box-top-right,
.b-box-bottom-left,
.b-box-bottom-middle,
.b-box-bottom-right {
	height: 5px;
}

.b-box-top-left,
.b-box-top-right,
.b-box-middle-left,
.b-box-middle-right,
.b-box-bottom-left,
.b-box-bottom-right {
	width: 5px;
}

.b-box-top-left {
	background-image: url(/Services/Soap/Images/corner_top_left.gif);
}

.b-box-top-middle {
	background-image: url(/Services/Soap/Images/border_top.gif);
	background-repeat: repeat-x;
}

.b-box-top-right {
	background-image: url(/Services/Soap/Images/corner_top_right.gif);
}

.b-box-middle-left {
	background-image: url(/Services/Soap/Images/border_left.gif);
	background-repeat: repeat-y;
}

.b-box-content-td {
	vertical-align: top;
}

.b-box-middle-right {
	background-image: url(/Services/Soap/Images/border_right.gif);
	background-repeat: repeat-y;
}

.b-box-bottom-left {
	background-image: url(/Services/Soap/Images/corner_bottom_left.gif);
}

.b-box-bottom-middle {
	background-image: url(/Services/Soap/Images/border_bottom.gif);
	background-repeat: repeat-x;
}

.b-box-bottom-right {
	background-image: url(/Services/Soap/Images/corner_bottom_right.gif);
}

.b-box-content {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 4px 6px;
}

.b-box-top-middle,
.b-box-middle-left,
.b-box-content-td,
.b-box-middle-right,
.b-box-bottom-middle,
.b-box-content {
	background-color: #FFFFFF;
}