; Données de configuration du site de production
[prod]
servers.host             = '127.0.0.1'
servers.port             = 11211
servers.persistent       = TRUE
servers.weight           = 1
servers.timeout          = 1
servers.retry_interval   = 15
servers.status           = TRUE
servers.failure_callback = NULL
compression              = FALSE
compatibility            = FALSE
 
; Données de configuration du site de preprod héritant du site
; de production et surchargeant les clés nécessaires
[ppr : prod]

; Données de configuration du site de staging héritant du site
; de production et surchargeant les clés nécessaires
[stg : prod]

; Données de configuration du site d'integration héritant du site
; de production et surchargeant les clés nécessaires
[int : prod]

; Données de configuration du site de developpement héritant du site
; de production et surchargeant les clés nécessaires
[dev : prod]

[local : prod]
